* {
	margin:0px;
	font-size:100%;
}

html {
	background: url("../img/bg2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family:Arial;
}

#wrap {
	width:85%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
}

#logo {
	width:40%;
	margin:2em 0;
}

#menu {
	background-color:rgba(0,0,0,0.5);
	max-width:1300px;
	color:white;
	text-align:center;
	border-radius:2em;
	margin:2em auto;
}

#menu ul li{
	line-height:3em;
	font-size:1.2em;
	padding-right:1em;
	display:inline-block;
}

#menu a {
	text-decoration:none;
	color:white;
}

#menu a:hover {
	color:#FF9933;
}

#slider {
	width: 1050px;
	height: 400px;
	border-radius:2em;
	overflow: hidden;
	margin:0 auto;
}

#slider .slides {
	display: block;
	width: 6000px;
	height: 400px;
	margin: 0;
	padding: 0;
}

#slider .slide {
	float: left;
	list-style-type: none;
	width: 1050px;
	height: 400px;
}

#content {
	max-width:1100px;
	text-align:left;
	width:80%;
	margin:1em auto;
	color:white;
	padding: 1em;
	background-color:rgba(255,255,255,0.3);
	border-radius:1em;
}

.muzyka {
	text-align:left;
	width:80%;
	margin:1em auto;
	color:white;
	padding: 1em;
	background-color:rgba(255,255,255,0.3);
	border-radius:1em;
}

.video-container {
    position: relative;
    padding-bottom: 49.5%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Pokaz {
	font-size:.8em;
	margin:2em auto;
	width:9em;
	color:white;
	font-weight:bold;
	padding: .5em;
	background-color:rgba(255,255,255,0.3);
	border:2px solid #FF9933;
	border-radius:.6em;
	cursor:pointer;
}

#Pokaz:hover {
	background-color:rgba(255,153,51,0.3);
}

.button {
	margin:2em 1em;
	width:6em;
	float:left;
	color:white;
	font-weight:bold;
	padding: .5em;
	background-color:rgba(255,255,255,0.3);
	border:2px solid #FF9933;
	border-radius:.6em;
}

.kontakt {
	font-size:1.5em; 
	color:#FF9933; 
	margin-left:1em;
}

.col {
	width:27.9%;
	margin: 0 1.5%;
	float:left;
	color:white;
	padding: 1em;
	background-color:rgba(255,255,255,0.3);
	border-radius:1em;
	font-size: .8em;
	
}

.col_nag {
	font-size:2em;
	text-align:left;
	color:#FF9933;
}

#footer {
	color:white;
	margin:2em 0;
}

#footer a {
	text-decoration:none;
	color:white;
}

#footer a:hover {
	color:#FF9933;
}

.hidden {
	display:none;
}